* {
    font-family: Montserrat, "Noto Sans Arabic", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    margin: 0;

    background-color: #1368ce;

    text-align: center;
    color: white;
}

#message, .text {
    padding: 1em 1em 0 1em;
    margin: 0;
    white-space: pre-line;
}

button {
    display: inline-block;
    margin: 5px;
    border-radius: 50px;
    width: 100%;
    letter-spacing: .1em;
}

button h1 {
    margin: 10px;
    font-size: large;
}

.images {
    flex-shrink: 1;
    margin: 5px;
}

img {
    display: inline-block;
    width: min(40vw, min(60vh, 300px));
}

input {
    font-size: large;
}

iframe {
    width: 100vw;
    height: 100vh;
    border: none;
    align-self: flex-start;
}